{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="heading">
<h1>The people you follows posts.</h1>
</div>
    <div id="posts">
        {% if not page_obj %}
        <div class="post">
            You don't follow anyone, please go follow someone!
        </div>
        {% endif %}
        {% for post in page_obj %}
        <div class="post">
            <div class="postName"><a href="{% url 'profile' post.user.username %}"><h3>{{ post.user.username }}</h3></a></div>
            {% if user == post.user %}<div class="postEdit">Edit</div>{% endif %}
            <div class="postText">{{ post.body }}</div>
            <div class="postTimestamp">{{ post.timestamp }}</div>
            <div class="postLikes"><span class="like">{% if user in post.likes.all %}&#128148;{% else %}&#128147;{% endif %}</span>{{ post.likes.count }}</div>
            <div class="postComment">Comment</div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'network/post.js' %}"></script>
{% endblock %}