{% extends "network/layout.html" %}

{% block body %}
<div id="heading">
<h1>The people you follows posts.</h1>
</div>
<div id="posts">
    <div class="post">
        <div class="postName"><h3>Name</h3></div>
        <div class="postEdit">Edit</div>
        <div class="postText">This is a test post</div>
        <div class="postTimestamp">Timestamp</div>
        <div class="postLikes">Heart Likes</div>
        <div class="postComment">Comment</div>
    </div>
</div>
{% endblock %}