{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="heading">
<h1>All Posts</h1>
</div>
{% if user.is_authenticated %}
<div id="createPost">
    <h3>New Post</h3>
    <form id="createForm">
        <textarea id="postBody"></textarea>
        <button id="postbtn" class="btn btn-sm btn-outline-primary">Post</button>
    </form>
</div>
{% endif %}
    <div id="posts">
        {% for post in posts %}
        <div class="post">
            <div class="postName"><a href="{% url 'profile' post.user.username %}"><h3>{{ post.user.username }}</h3></a></div>
            <div class="postEdit">Edit</div>
            <div class="postText">{{ post.body }}</div>
            <div class="postTimestamp">{{ post.timestamp }}</div>
            <div class="postLikes">&#10084;{{ post.likes.count }}</div>
            <div class="postComment">Comment</div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'network/createPost.js' %}"></script>
{% endblock %}