{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="heading">
<h1>All Posts</h1>
</div>
{% if user.is_authenticated %}
<div id="createPost">
    <h3>New Post</h3>
    <form id="createForm">
        <textarea required id="postBody"></textarea>
        <button id="postbtn" value="create" class="btn btn-sm btn-outline-primary">Post</button>
    </form>
</div>
{% endif %}
<div id="posts">
    {% for post in page_obj %}
    <div id="{{ post.id  }}" class="post">
        <div class="postName"><a href="{% url 'profile' post.user.username %}"><h3>{{ post.user.username }}</h3></a></div>
        {% if user == post.user %}<div value="edit" class="postEdit">Edit</div>{% endif %}
        <div class="postText">{{ post.body }}</div>
        <div class="postTimestamp">{{ post.timestamp }}</div>
        <div class="postLikes"><span class="like">{% if user in post.likes.all %}&#128148;{% else %}&#128147;{% endif %}</span><div class="likes">{{ post.likes.count }}</div></div>
        <div class="postComment">Comment</div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block script %}
{% if user.is_authenticated %}
<script src="{% static 'network/post.js' %}"></script>
{% endif %}
{% endblock %}