{% extends "network/layout.html" %}
{% load static %}


{% block body %}
<div id="heading">
<h1>All Posts</h1>
</div>
<div id="createPost">
    <h3>New Post</h3>
    <form id="createForm">
        <textarea id="postBody"></textarea>
        <button id="postbtn" class="btn btn-sm btn-outline-primary">Post</button>
    </form>
</div>
<div id="posts">
    <div class="post">
        <div class="postName"><h3>Name</h3></div>
        <div class="postEdit">Edit</div>
        <div class="postText">This is a test post</div>
        <div class="postTimestamp">Timestamp</div>
        <div class="postLikes">Heart Likes</div>
        <div class="postComment">Comment</div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'network/script.js' %}"></script>
{% endblock %}