.body {
    margin: 0.5rem 1rem;
}

textarea {
    width: 100%;
    white-space: pre-line;
}

form{
    display: inherit;
    flex-direction: inherit;
    width: 100%;
}

/* Create post layout */
#createPost {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

#createPost button {
    margin-top: 2px;
    align-self: flex-start;
}

#createPost textarea {
    min-height: 100px;
}
/* Posts layout */
.pagination {
    justify-content: center;
}

.post {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
}


.postEdit, .like, .postComment {
    cursor: pointer;
}

.postEdit, .postComment, .postLikes {
    font-size: smaller;
    font-weight: 500;
}

.postTimestamp {
    font-size: smaller;
    color: rgb(110, 110, 110);
}

.likes {
    display: inline-block;
}

.postText {
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: pre-line;
}